/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@charset"UTF-8";
#logo{position: relative;}
#logo>h1{font-size: 50px;font-weight: bold;}
#navs{background-color: aqua;}
#btn{display: block;position: relative;left:90%;top:-50px;}
input[type=checkbox]:checked+nav{-webkit-animation: nav forwards 0.3s;animation: nav forwards 0.3s;}
#navs{position: absolute;left:-150%;width: 100%;}
#checkbox1{opacity: 0%;}
@-webkit-keyframes nav{
          0%{left:-150%;}
          100%{left:0%;}
}
@keyframes nav{
          0%{left:-150%;}
          100%{left:0%;}
}

#navs section{margin: 36px 0;}

#animation>figure>div:nth-child(2){position: absolute;top:70%;width: 60%;left: 20%;}
#animation>figure>div h1{width:50%;font-size: 36px;font-weight: bold;text-align: center;color: #222222;margin: 0 auto;}
#animation>figure>div h1+p{width: 60%;margin: 36px auto;color: #444444;font-size: 18px;}
#animation>figure>div h1+p+a{display: block; padding: 8px 0;  width: 40%;margin-left:30%;background-color: chocolate;border: 1px solid #444444;border-radius:20px ;font-size: 24px;text-decoration: none;text-align: center;color: #444444;}
#box1 section{position: relative;top:36px;background-color: darkgray;}
#box1 section>div>h3{font-size: 24px;font-weight: bold;text-align: center;color: #222222;}
#box1 section>div>p{width: 50%;font-size: 18px;margin: 0 auto;text-align: left;color: #444444;padding:36px 0;}


#Copyright{position: relative;top:36px;text-align: center;}
@media screen and (max-width:800px){
      
}

@media screen and (max-width:600px){

}

@media screen and (min-width:601px)
              and (max-width:800px){

}

@media screen and (min-width:801px){
      #btn{opacity: 0;}
#navs{display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-pack: distribute;justify-content: space-around;position: relative;left: 0%;width: 85%;position: absolute;left:15%;top:0%;}
}


@media screen and (min-width:801px)
              and (max-width:1280px){
                  



}

@media screen and (min-width:1281px){

}